@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  @apply bg-primary-1 text-n-1;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
@layer base {
    :root {
      --background: #FFFFFF; /* Light neutral background */
      --foreground: #1A1A1A; /* Dark text */
      --primary: #ADD8E6; /* Light Blue */
      --on-primary: #FFFFFF; /* White on light blue */
      --secondary: #FFA500; /* Orange */
      --on-secondary: #FFFFFF; /* White on orange */
      --tertiary: #FFA500; /* Orange for buttons */
      --on-tertiary: #FFFFFF; /* White on buttons */
      --error: #FF4500; /* Red-orange */
      --on-error: #FFFFFF; /* White on errors */
      --outline: #B0BEC5; /* Light Gray */
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
    }
  
    .dark {
      /* Dark mode colors */
      --background: #0D1117; /* Dark neutral background */
      --foreground: #EAEAEA; /* Light text */
      --primary: #1E90FF; /* Bright Blue */
      --on-primary: #0D1117; /* Dark on bright blue */
      --secondary: #FF8C00; /* Vibrant Orange */
      --on-secondary: #0D1117; /* Dark on orange */
      --tertiary: #FF8C00; /* Orange for buttons */
      --on-tertiary: #0D1117; /* Dark on buttons */
      --error: #FF6347; /* Tomato */
      --on-error: #0D1117; /* Dark on errors */
      --outline: #374151; /* Dark Gray */
      --card: 222.2 84% 4.9%;
      --card-foreground: 0 0% 100%;
    }
  }

@layer base {
  body {
    @apply bg-primary-1;
  }
}
@layer components{
  .link-text{
    @apply  text-n-3 text-sm font-poppins font-medium uppercase transition-colors hover:text-n-2/90 hover:font-semibold;
  }
  .radioGroup-item{
    @apply size-[16px] rounded-full bg-white border border-n-4/90  outline-none hover:bg-n-4/20 cursor-pointer;
  }
  .radioGroup-indicator{
    @apply relative flex size-full items-center justify-center after:block after:size-[8px] after:rounded-full after:bg-primary-3;
  }
} 
